alembic==1.13.1
antiorm==1.2.1
blinker==1.8.2
click==8.1.7
db==0.1.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
packaging==24.0
SQLAlchemy==2.0.30
typing_extensions==4.12.0
Werkzeug==3.0.3
zipp==3.19.0
