<!DOCTYPE html>
<html>
   <body>
      <h3>Leaderboard</h3>
      <a href="/">VIEW INSTRUCTIONS</a> <BR>
      <a href="/play">PLAY A GAME</a>
      <br>
      <table>
         <thead>
            <th>Name</th>
            <th>Score</th>
            <th>Time Played</th>
            <th>Game Number</th>
         </thead>
         {% for data in profiles %}
         <tbody>
            <td>{{data.name}}</td>
            <td>{{data.score}}</td>
            <td>{{data.num}}</td>
            <td>{{data.gamenum}}</td>
         </tbody>
         {% endfor%}
      </table>
   </body>
</html>
