<!DOCTYPE html>
<html>
   <body>
      <h3>Leaderboard</h3>
      <a href="/">ADD</a>
      <br>
      <table>
         <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Score</th>
            <th>#</th>
         </thead>
         {% for data in profiles %}
         <tbody>
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.score}}</td>
            <td><a href="/delete/{{data.id}}" type="button">Delete</a></td>
         </tbody>
         {% endfor%}
      </table>
   </body>
</html>
